@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página restrita";
}

<p>você não tem permissão ara acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index">click aqui para vltar para home</a></p>